{% extends 'navBar.html'%}

{% load static %}

{% block blockDinamico %}
<section class="features-icons bg-light text-center">
    <div class="container mb-2">        
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7" >
                <div class="card">
                
                    
                    <img src="{{Articulo.imagen.url}}" class="card-img-top"  alt="avatar">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{Articulo}}</h5>
                      <p class="card-text">Nombre: {{Articulo.Descripcion}}</p>
                      <p class="card-text">Descripcion: {{Articulo.DescripcionLarga}}</p>
                      <p class="card-text">Color: {{Articulo.Color}}</p>
                      <p class="card-text">Talle: {{Articulo.Talle}}</p>
                      <p class="card-text">Precio: ${{Articulo.Precio}}</p>

                      <a type="button" class="btn btn-outline-primary" href="{% url 'ListaArticulos' %}">
                        Volver
                      </a>
                    </div>
                </div>
               <br>
               <br>               
               <br>               
               <br>
            </div>        
        </div>

    </div>
</section>
{% endblock blockDinamico %}