{% extends 'navBar.html'%}

{% load static %}

{% block blockDinamico %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Agregar Avatar</h1>
                   
                </div>
            </div>
        </div>
    </div>
</header>

<section class="features-icons bg-light">
  <div class="container">
    <h1>{{mensaje}}</h1>
   
    <form action="{% url 'EditarAvatar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{miFormulario.as_p}}

        </div>

        <input type="submit" value="Registrar">

    </form> 

  </div>
</section>




{% endblock blockDinamico %}