{% extends 'navBar.html'%}

{% load static %}

{% block blockDinamico %}
<section class="features-icons bg-light text-center">
    <div class="container">
   
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Acerca de los dueños de la página...</h2>
                <div class="row">
                    <!-- Alonso -->
                    <div class="col-lg-4">                        
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../static/assets/img/photo.jpg" alt="..." />
                            <h5 class="acercaDemiText">Jorge Alonso Rojas Perez</h5>
                            <p class="font-weight-light mb-0 acercaDemiText">Hola mi nombre es Alonso, tengo 24 años y soy ingeniero en software egresado de la Universidad Técnica Nacional,
                                 de Costa Rica. Me gusta mucho el deporte, viajar y conocer nuevos lugares, me gustan los video juegos y 
                                 conocer nuevas personas, también disfrutar de una buena taza de café por las tardes. Actualmente trabajo como 
                                 desarrollador en Rossmon diseñando y desarrollando nuevas funcionalidades utilizando .NET Core, 
                                 React Js y SQL Server para la migración del software CCSS.</p>
                            <br>
                            <h5 class="acercaDemiText">Habilidades Técnicas</h5> 
                            <ul class="acercaDemiText">
                                <li>Python</li>
                                <li>Django</li>
                                <li>HTML, CSS y JavaScript</li>
                                <li>C#</li>
                                <li>.Net Core</li>
                                <li>Flutter y Dart</li>

                            </ul>
                            <h5 class="acercaDemiText">Información de Contacto</h5> 
                            <ul class="acercaDemiText">
                                <li>Email: alonsorp329@gmail.com</li>
                                <li>Teléfono: 86047025</li>                                
                            </ul>
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="https://www.linkedin.com/in/jorge-alonso-rojas-p%C3%A9rez-software-developer/"><i class="bi-linkedin fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="https://t.me/alonso329"><i class="bi-telegram fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://wa.me/86047025"><i class="bi-whatsapp fs-3"></i></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Joel -->
                    <div class="col-lg-4">                        
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../static/assets/img/testimonials-1.jpg" alt="..." />
                            <h5 class="acercaDemiText">Nombre aqui</h5>
                            <p class="font-weight-light mb-0 acercaDemiText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quo suscipit consequuntur necessitatibus, delectus aspernatur sunt obcaecati iure itaque tempore amet architecto qui maxime esse excepturi magni! Incidunt, corporis illo!</p>
                            <br>
                            <h5 class="acercaDemiText">Habilidades Técnicas</h5> 
                            <ul class="acercaDemiText">
                                <li>Habilidades Técnicas</li>
                                <li>Habilidades Técnicas</li>
                                

                            </ul>
                            <h5 class="acercaDemiText">Información de Contacto</h5> 
                            <ul class="acercaDemiText">
                                <li>Email: email aqui</li>
                                <li>Teléfono: numero aqui</li>                                
                            </ul>
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="#!"><i class="bi-linkedin fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="#!"><i class="bi-telegram fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!"><i class="bi-whatsapp fs-3"></i></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Jose -->
                    
                    <div class="col-lg-4">                        
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../static/assets/img/testimonials-1.jpg" alt="..." />
                            <h5 class="acercaDemiText">Nombre aqui</h5>
                            <p class="font-weight-light mb-0 acercaDemiText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quo suscipit consequuntur necessitatibus, delectus aspernatur sunt obcaecati iure itaque tempore amet architecto qui maxime esse excepturi magni! Incidunt, corporis illo!</p>
                            <br>
                            <h5 class="acercaDemiText">Habilidades Técnicas</h5> 
                            <ul class="acercaDemiText">
                                <li>Habilidades Técnicas</li>
                                <li>Habilidades Técnicas</li>
                                

                            </ul>
                            <h5 class="acercaDemiText">Información de Contacto</h5> 
                            <ul class="acercaDemiText">
                                <li>Email: email aqui</li>
                                <li>Teléfono: numero aqui</li>                                
                            </ul>
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="#!"><i class="bi-linkedin fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="#!"><i class="bi-telegram fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!"><i class="bi-whatsapp fs-3"></i></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>
</section>
{% endblock blockDinamico %}