{% extends 'navBar.html'%}

{% load static %}

{% block blockDinamico %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Los zapatos más elegantes para tu uniforme y conjuntos</h1>
                   
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/elegancia.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Elegancia</h2>
                <p class="lead mb-0">Los zapatos más elegantes para sorprender en esa ocasión especial o tu trabajo.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('../static/assets/img/nike.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Deportivo</h2>
                <p class="lead mb-0">Si eres de los les gusta el deporte y caminar por la montaña, aquí encontraras las deportivas más cómodas y prácticas.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/moda1.png')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Moda</h2>
                <p class="lead mb-0">¡¡No dejes de destacar!!</p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Reseñas de nuestros clientes…</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="../static/assets/img/testimonials-1.jpg" alt="..." />
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"¡Esto es fantástico! ¡Muchas gracias chicos!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="../static/assets/img/testimonials-2.jpg" alt="..." />
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Brillé en mi boda con los mejores zapatos"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="../static/assets/img/testimonials-3.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Super prácticos los deportivos para el trabajo"</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock blockDinamico %}